= field_set do
  = f.input :natures, collection: ManureManagementPlanNature.available_natures, as: :check_boxes
  = f.input :name, as: :hidden, value: f.object.name
  = f.referenced_association :recommender, as: :hidden
  = f.input :annotation, as: :hidden
  = f.custom_fields
  = f.referenced_association :campaign, as: :hidden
  = f.input :opened_at, as: :hidden, value: f.object.opened_at
= render "zones_form", f: f
