- results = results_features(@manure_management_plan)

= form_tag({action: :compute}, class: "manure_edit") do
  = janus do |j|
    - j.face :map do
      :ruby
        haml_io.write shape_field_tag("manure_management_plan", nil, {class: :manuring_result_form,
                                                        box: {width: '70%'},
                                                        data: {
                                                         map_editor: {
                                                            customClass:'manure-map',
                                                            allowAttributesPopup: true,
                                                            view: {
                                                                center: Charta.new_geometry(results[:cultivable_zones]).centroid
                                                            },
                                                            show: {
                                                               series: {
                                                                  cultivable_zone_serie:  results[:cultivable_zones],
                                                               },
                                                               layers: [
                                                                 { name: :cultivable_zones,
                                                                  label: :cultivable_zones.tl,
                                                                  serie: :cultivable_zone_serie,
                                                                  accordion: true,
                                                                  type: :simple,
                                                                  fillColor: '#0A0',
                                                                  popup: [
                                                                    {property_label: 'attributes.cultivation_variety'.t,
                                                                    :type => :label,
                                                                    :property_value => :cultivation_variety},
                                                                    {property_label: 'attributes.soil_nature'.t,
                                                                    :type => :label,
                                                                    :property_value => :soil_nature}
                                                                  ],
                                                                  popup_button_ok: false,
                                                                  popup_event: 'mouse-over'
                                                                 }
                                                               ]},
                                                               useFeatures: true,
                                                               defaultEditionFeaturePrefix: :cultivable_zone_prefix.tl,
                                                               defaultLabel: :unnamed.tl,
                                                               controls:{
                                                                measure: { show: false, localization: 'i18n.iso2'.t },
                                                                importers: {formats: [:gml, :geojson, :kml], title: :import.tl, okText: :import.tl, cancelText: :close.tl}
                                                               }},
                                                               accordion: { box: {width: '30%'},customClass:'responsive-map', data_group: true, data_path: 'results', :data_key => ['needs']}}},
                                                               )
      - j.face :list do
        = main_list

  = form_actions do
    = submit_tag(:validate.tl, :name => :validate)