- main_toolbar do |t|
  = t.new params: { redirect: nil }

= janus do |j|
  - if resource_model.any?
    - j.face :map do
      = main_resources_map
    -# if current_campaign
      - j.face :chart do
        = cell :cropping_plan_on_cultivable_zones, params: {campaign_id: current_campaign.id}
  - j.face :list do
    = kujaku do |k|
      - k.text
      - farmers = Entity.where(id: CultivableZone.pluck(:farmer_id).compact.uniq)
      - if farmers.any?
        - k.helper do
          %label= CultivableZone.human_attribute_name(:farmer)
          = select_tag(:farmer_id, options_for_select([[]] + farmers.order(:name).collect{|u| [u.full_name, u.id]}, params[:farmer_id]))
      - owners = Entity.where(id: CultivableZone.pluck(:owner_id).compact.uniq)
      - if owners.any?
        - k.helper do
          %label= CultivableZone.human_attribute_name(:owner)
          = select_tag(:owner_id, options_for_select([[]] + owners.order(:name).collect{|u| [u.full_name, u.id]}, params[:owner_id]))
    = main_list
